LUMA_FORGE_PROVISIONER_WORKER_IMAGE_REF=ghcr.io/luma-forge/provisioner:latest
LUMA_FORGE_PROVISIONER_WORKER_PORT=8000
LUMA_FORGE_RUNPOD_ENDPOINT_WORKER_IMAGE_REF=ghcr.io/luma-forge/runpod-endpoint-worker:latest
LUMA_FORGE_RUNPOD_ENDPOINT_WORKER_PORT=8188
